<!DOCTYPE html>
<html>

<head>
  <link href="./css/style.css" rel="stylesheet">
</head>

<body>
  <div class="section section--header">
    <div class="container">
      <img class="main-logo" src="./images/logo.png" alt="noodlehouses.ca logo">
      <ul class="nav-bar">
        <li class="nav-item active">Home</li>
        <li class="nav-item">Best sell</li>
        <li class="nav-item">Menu</li>
        <li class="nav-item">Contact</li>
      </ul>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script defer="defer" src="js/main.js"></script>
</body>

</html>